.main-title {
  text-align: center;
}
#mutable-cmd-box {
  margin: 1em auto 2em;
}
#status-box {
  text-align: right;
}
.status-txt {
  font-weight: bold;
  padding: 0.5em 0.7em 0.7em 0.5em;
  margin: 0.3em;
}
.status-ok {
  background-color: #5CBF00;
  color: #fff;
}
.status-warning {
  background-color: #ED5A00;
  color: #000;
}
.status-alert {
  background-color: #FF0707;
  color: #000;
}
