* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #fff;
  background-color: #222222;
}
b,
strong {
  font-weight: bold;
}
small {
  font-size: 80%;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button,
select {
  text-transform: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  line-height: 1;
  color: #777777;
}
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 small,
h2 small,
h3 small {
  font-size: 65%;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 small,
h5 small,
h6 small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 28px;
}
h2,
.h2 {
  font-size: 21px;
}
h3,
.h3 {
  font-size: 18px;
}
h4,
.h4 {
  font-size: 17px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}
p {
  margin: 0 0 10px;
}
small,
.small {
  font-size: 85%;
}
input[type="range"] {
  display: block;
}
button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
button:focus,
button:active:focus,
button.active:focus,
button.focus,
button:active.focus,
button.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
button:hover,
button:focus,
button.focus {
  color: #fff;
  text-decoration: none;
}
button:active,
button.active {
  outline: 0;
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
button.disabled,
button[disabled],
fieldset[disabled] button {
  cursor: not-allowed;
  opacity: .65;
  box-shadow: none;
}
abutton.disabled,
fieldset[disabled] abutton {
  pointer-events: none;
}
button {
  color: #fff;
  background-color: #555555;
  border-color: #555555;
}
button:focus,
button.focus {
  color: #fff;
  background-color: #3c3c3c;
  border-color: #161616;
}
button:hover {
  color: #fff;
  background-color: #3c3c3c;
  border-color: #373737;
}
button:active,
button.active,
.open > .dropdown-togglebutton {
  color: #fff;
  background-color: #3c3c3c;
  border-color: #373737;
}
button:active:hover,
button.active:hover,
.open > .dropdown-togglebutton:hover,
button:active:focus,
button.active:focus,
.open > .dropdown-togglebutton:focus,
button:active.focus,
button.active.focus,
.open > .dropdown-togglebutton.focus {
  color: #fff;
  background-color: #2a2a2a;
  border-color: #161616;
}
button:active,
button.active,
.open > .dropdown-togglebutton {
  background-image: none;
}
button.disabled:hover,
button[disabled]:hover,
fieldset[disabled] button:hover,
button.disabled:focus,
button[disabled]:focus,
fieldset[disabled] button:focus,
button.disabled.focus,
button[disabled].focus,
fieldset[disabled] button.focus {
  background-color: #555555;
  border-color: #555555;
}
button .badge {
  color: #555555;
  background-color: #fff;
}
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
button {
  border-width: 2px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
button:active,
button.active {
  background-image: none;
  box-shadow: none;
}
button.disabled,
button[disabled],
fieldset[disabled] button {
  box-shadow: none;
}
button .badge {
  text-shadow: none;
}
.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
a.label:hover,
a.label:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.label:empty {
  display: none;
}
.btn .label {
  position: relative;
  top: -1px;
}
.label-default {
  background-color: #555555;
}
.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #3c3c3c;
}
.label-primary {
  background-color: #337ab7;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #286090;
}
.label-success {
  background-color: #5cb85c;
}
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #449d44;
}
.label-info {
  background-color: #5bc0de;
}
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #31b0d5;
}
.label-warning {
  background-color: #f0ad4e;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #ec971f;
}
.label-danger {
  background-color: #d9534f;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #c9302c;
}
.main-title {
  text-align: center;
  color: #777777;
}
#mutable-cmd-box {
  margin: 1em auto 2em;
}
#status-box {
  text-align: right;
}
.substatus {
  margin: 1em 0;
}
.status-txt {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
a.status-txt:hover,
a.status-txt:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.status-txt:empty {
  display: none;
}
.btn .status-txt {
  position: relative;
  top: -1px;
}
big.status-txt {
  font-size: 21px;
}
.status-ok {
  background-color: #5cb85c;
}
.status-ok[href]:hover,
.status-ok[href]:focus {
  background-color: #449d44;
}
.status-warning {
  background-color: #f0ad4e;
}
.status-warning[href]:hover,
.status-warning[href]:focus {
  background-color: #ec971f;
}
.status-alert {
  background-color: #d9534f;
}
.status-alert[href]:hover,
.status-alert[href]:focus {
  background-color: #c9302c;
}
